
body {
    background-color: rgb(230, 227, 227);
}

.navbar{
    background-color:rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
}
.navbar ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
}
.navbar a{
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 20px;
    letter-spacing: 4px;
}
.navbar a:hover{
    color: rgb(190, 18, 18);
}
.navbar a.special-word{
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgb(10, 10, 179);
    margin: 0 40px;
    color: rgb(54, 53, 53);
}
.navbar a.b{
    font-size: 30px;
    text-shadow: 2px 2px 5px rgb(224, 76, 76);
    font-weight: bold;
    margin: 0 40px;
}
.navbar a.c{
    font-size: 20px;
    text-shadow: 2px 2px 5px rgb(49, 247, 0);
    font-weight: bold;
    margin: 0 40px;
}
.navbar a.d{
    font-size: 20px;
    text-shadow: 2px 2px 5px rgb(162, 0, 255);
    font-weight: bold;
    margin: 0 40px;
}
.navbar a.e{
    font-size: 20px;
    text-shadow: 2px 2px 5px rgb(170, 84, 3);
    font-weight: bold;
    margin: 0 40px;
}
.footer {
    background-color: rgb(255, 255, 255);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.footer p{
    font-size: 30px;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    letter-spacing: 4px;
    text-shadow: 2px 2px 5px rgb(223, 226, 40);
}
.fade-in-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -150%);
    opacity: 0;
    letter-spacing: 3px;
    font-size: 19px;
    animation: fadeIn 5s forwards;
}
.fade-in-image {
    opacity: 0;
    animation: fadeIn 5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
h3 {
    color: black;
}
.image-container {
    display: block;
    padding: 100px;   
  }
  .James {
    width: 30%;
    border-radius: 500px;
  }
  .image-container2 {
    display: block;
    width:  1000px;
    height: 1000px;
  }
  .Resume {
    display: flex;
    width: 30%;
    margin: 0;
    padding: 0;
    margin-left: 100%;
    position: relative;
    bottom: 50%;
  }
 
